* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main-container {
  height: 100%;
  width: 100%;
  /* background-color: rgb(16, 114, 201); */
}

/* -------------------Navbar style------------------- */

.navbar {
  height: 60px;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 19px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  gap: 34px;
  list-style: none;
  cursor: pointer;
}

.nav-links h4 {
  font-size: 25px;
  cursor: pointer;
}

.nav-button {
  margin: 0px 12px;
}

#login {
  padding: 10px 23px;
  border-radius: 25px;
  color: #ffff;
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

#signup {
  padding-right: 12px;
  font-weight: 700;
  font-size: 18px;
  background: #ffff;
  color: #000;
  border: none;
  cursor: pointer;
}

/* -----------------Hero Section style--------------- */

.hero-section {
  /* height: 500px; */
  margin-top: 27px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.hero-left {
  padding: 56px 65px 43px 61px;
}

.hero-left h1 {
  font-size: 70px;
  margin-bottom: 15px;
  font-weight: 900;
}

.hero-left p {
  font-size: 20px;
  margin-bottom: 43px;
  width: 450px;
}

.hero-button button {
  padding: 5px 8px;
  /* font-size: 8px; */
  background: #ffff;
  color: #000;
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

.hero-button button i {
  margin-right: 5px;
  font-size: 18px;
}

#active {
  background-color: black;
  color: #ffff;
}

.input {
  padding: 5px 12px;
  border: 2px solid black;
  border-radius: 25px;
  width: 600px;
  display: flex;
  align-items: center; /* vertically center items */
  justify-content: space-between;
  margin-bottom: 10px;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.input input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  min-width: 0;
}

.input i {
  border-radius: 50%;
  background-color: #ec5e95;
  outline: none;
  font-size: 16px;
  padding: 8px;
}

.hero-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-links h6 {
  font-size: 16px;
}

#h-link {
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.hero-right {
  margin: 37px 2px 25px 24px;
  padding: 38px 34px 34px 12px;
}

video {
  margin-right: 115px;
  height: 400px;
  width: 500px;
  border-radius: 15px;
  object-fit: cover;
}

.hero-bottom {
  background-color: #f8f8fc;
  width: 100%;
  height: 80px;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-bottom button {
  margin: 20px 0px 0px 50px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #ffff;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.hero-bottom p {
  text-align: center;
  font-size: 18px;
  margin: 20px 0px 0px 10px;
  padding: 10px 15px;
}

/*------------------ Cards section style -------------------- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* The magic: show on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.card-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.card-buttons button {
  padding: 5px 8px;
  /* font-size: 8px; */
  background: #ffff;
  color: #000;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
}

#ani {
  background-color: #9893939d;
  border-radius: 25px;
}

.filter button {
  padding: 5px 8px;
  font-size: 15px;
  background: #ffff;
  color: #000;
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

.cards {
  padding-left: 35px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"
    "card9 card10 card11 card12";
}

.card {
  position: relative;
  /* overflow: hidden; */
}
/* 
.card .image {
  overflow: hidden;
} */

.animation {
  color: #fff;
  font-size: 27px;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px;
  background: linear-gradient(transparent, black);
  position: absolute;
  bottom: -30%;
  transition: all ease 0.6s;
  /* overflow: hidden; */
  /* padding-bottom: 42px; */
}

.card:hover .animation {
  bottom: 0;
}
.card-bottom {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-bottom img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.card-bottom button {
  border: none;
  background-color: #fff;
}

.card {
  padding: 10px 10px;
}

.card > img {
  height: 240px;
  width: 330px;
  object-fit: cover;
  border-radius: 12px;
}

#card-1 {
  /* background-color: #3d8ae8; */
  grid-area: card1;
  height: 300px;
}
#card-2 {
  /* background-color: rgb(31, 207, 25); */
  grid-area: card2;
}
#card-3 {
  /* background-color: rgb(221, 33, 20); */
  grid-area: card3;
}
#card-4 {
  /* background-color: rgb(71, 94, 16); */
  grid-area: card4;
}
#card-5 {
  /* background-color: rgb(168, 78, 33); */
  grid-area: card5;
}
#card-6 {
  /* background-color: rgb(34, 15, 77); */
  grid-area: card6;
}
#card-7 {
  /* background-color: rgb(50, 162, 162); */
  grid-area: card7;
}
#card-8 {
  /* background-color: rgb(156, 38, 206); */
  grid-area: card8;
}
#card-9 {
  /* background-color: rgb(184, 68, 169); */
  grid-area: card9;
}
#card-10 {
  background-color: rgb(27, 73, 30);
  grid-area: card10;
}
#card-11 {
  background-color: rgb(157, 99, 33);
  grid-area: card11;
}
#card-12 {
  background-color: rgb(175, 56, 163);
  grid-area: card12;
}
